.nft-page-container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.2fr 1fr;
    gap: 100px;
    row-gap: 10px;
    padding-bottom: 200px;
}

.connect-wallet {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 5;
    border-radius: 20px !important;
}

.modal-dialog {
    justify-content: center !important;
}

.modal-content {
    width: 50% !important;
}

.wallet-logo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.logo-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;

}

.connect-wallet-logo {
    width: 100%;
    height: 100%;

    &:hover {
        cursor: pointer;
    }
}

.modal-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nft-header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.NFT-description {
    padding: 20px;
    text-align: center;
    width: 80%;
    font-size: 150%;
}

.nft-reasons-container {
    width: 100%;
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: 50px;
    place-items: center;
    justify-content: center;
    text-align: center;


    $rotations: 5deg, 10deg, 15deg, -5deg, -10deg, -15deg;

    @each $rotation in $rotations {
        .nft-reason-#{$rotation} {
            transform: rotate($rotation)
        }
    }


}



.nft-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0px 100px 0px 100px;
    column-gap: 10%;
    row-gap: 40px;
    place-items: center;
}

.yummy-dog {
    width: 100%;
    border-radius: 50px;
    border: solid 5px $orange;
    -webkit-box-shadow: 5px 5px 0px 5px $blue;
    box-shadow: 3px 3px 0px 3px $blue;
}

.FAQ-container {
    width: 80%;
    color: $blue;
}

.accordion {
    @include dark-glass;
}


.accordion-button {
    // @include glass;
    background: none !important;
    border-radius: 20px !important;
    color: $white !important;

    &:focus {
        box-shadow: none !important;
        border: 1px solid $white !important;
    }

}

.accordion-button:not(.collapsed) {
    color: $white !important;
}

.accordion-item {
    // @include glass;
    background: none !important;
    border-bottom: 1px solid black !important;
}

.accordion-body {
    color: $orange;
}